
.icon-lightbulb:before { content: '\e800'; } /* '' */
.icon-menu-outline:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-bookmark-empty:before { content: '\e803'; } /* '' */